.container {
    margin-left: 2%;
}

.AllModule {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.module {
    background-color: #f1f1f1;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    height: 300px;
    flex: 1 0 20%; /* Grow and shrink, basis of 20% */
    max-width: 20%; /* Maximum width of 20% */
}

@media only screen and (max-width: 1200px) {
    .module {
        flex: 1 0 25%; /* Grow and shrink, basis of 25% */
        max-width: 25%; /* Maximum width of 25% */
    }
}

@media only screen and (max-width: 900px) {
    .module {
        flex: 1 0 33.33%; /* Grow and shrink, basis of 33.33% */
        max-width: 33.33%; /* Maximum width of 33.33% */
    }
}

@media only screen and (max-width: 600px) {
    .module {
        flex: 1 0 50%; /* Grow and shrink, basis of 50% */
        max-width: 50%; /* Maximum width of 50% */
    }
}

@media only screen and (max-width: 400px) {
    .module {
        flex: 1 0 100%; /* Grow and shrink, basis of 100% */
        max-width: 100%; /* Maximum width of 100% */
    }
}

.module:hover {
    box-shadow: 0 0 20px #ccc;
    background-color: #ddd;
}

.objectives {
    overflow: scroll;
}
.objectives a {
    color: #000;
    text-decoration: none;
    border-left: #000 solid 2px;
    padding-left: 10px;
    font-weight: lighter;
}
.objectives a:hover {
    border-left: #21A179 solid 2px;
    color: #21A179;
}