.welcome h1, .welcome h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome p, .welcome a {
    margin-left: 2%;
    margin-bottom: 10px;
}

.btn{
    background-color: #21A179;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 2px;
    width: fit-content;
}

.AllModules {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.module {
    background-color: #f1f1f1;
    padding: 1%;
    margin: 0.5%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    width: calc(20% - 1%);
    height: 450px;
    display: flex;
    flex-direction: column;
}

.module > *:nth-child(1) {
    height: 50px;
    overflow: hidden;
}

.module > *:nth-child(2) {
    height: 150px;
    overflow: scroll;
    padding-bottom: 20px;
}

.module > *:nth-child(3) {
    height: 200px;
    overflow: scroll;
    margin-bottom: 20px;
}

.rating .selected {
    background-color: rgb(82, 49, 141);
    color: #fff;
}

.rating button {
    background-color: #21A179;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 2px;
}
.rating button:hover {
    background-color: #000;
}
.rating button:disabled {
    background-color: #ccc;
}
.rating p{
    display: inline-block;
    margin: 2px;
    padding: 1px 5px 1px 5px;
}

@media only screen and (max-width: 768px) {
    /* Media query for screens smaller than 768px */
    .module {
        width: 80%;
    }
}

.module:hover {
    box-shadow: 0 0 20px #ccc;
    background-color: #ddd;
}

.objectives a {
    color: #000;
    text-decoration: none;
    border-left: #000 solid 2px;
    padding-left: 10px;
    font-weight: lighter;
}

.objectives a:hover {
    border-left: #21A179 solid 5px;
    color: #21A179;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#popup.show {
    display: flex;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-content a {
    text-decoration: none;
    color: #fff;
    background-color: #21A179;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    text-align: center;
}

.popup-content a:hover {
    background-color: #000;
}

#close {
    align-self: flex-start;
    font-size: 30px;
    color: #21A179;
    cursor: pointer;
}