.welcome h1, .welcome h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome p, .welcome a {
    margin-left: 2%;
    margin-bottom: 10px;
}

.btn{
    background-color: #21A179;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 2px;
    width: fit-content;
}

.AllModules {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.module {
    background-color: #f1f1f1;
    padding: 1%;
    margin: 0.5%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    width: calc(20% - 1%);
    height: 450px;
    display: flex;
    flex-direction: column;
}

.module > *:nth-child(1) {
    height: 50px;
    overflow: visible;
}

.module > *:nth-child(2) {
    height: 150px;
    overflow: scroll;
    padding-bottom: 20px;
}

.module > *:nth-child(3) {
    height: 200px;
    overflow: scroll;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    /* Media query for screens smaller than 768px */
    .module {
        width: 80%;
    }
}

.module:hover {
    box-shadow: 0 0 20px #ccc;
    background-color: #ddd;
}

.objectives a {
    color: #000;
    text-decoration: none;
    border-left: #000 solid 2px;
    padding-left: 10px;
    font-weight: lighter;
}

.objectives a:hover {
    border-left: #21A179 solid 5px;
    color: #21A179;
}

.SearchResult {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.SearchResult > * {
    margin: 10px;
}

.SearchResult > p > a {
    color: #000;
    text-decoration: none;
    border-left: #000 solid 2px;
    padding-left: 10px;
    font-weight: lighter;
}

.SearchResult > p > a:hover {
    border-left: #21A179 solid 5px;
    color: #21A179;
}