@media only screen and (max-width: 768px) {
    /* Media query for screens smaller than 768px */
    .bio1 *, .bio *{
        font-size: 2vw;
    }
    label, table * {
        font-size: 1.5vw;
    }
}

.container {
    width: 95%;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.bio1,
.bio2 {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    align-self: flex-start;
}

.bio1 {
    width: 25%;
}
.bio2 {
    width: 75%;
}
.bio1 a {
    text-decoration: none;
    max-width: fit-content;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
}

p {
    margin: 20px;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .bio2, .bio1 {
        margin: 5px;
        padding: 5px;
    }
    .bio2 {
        margin-left: 0px;
    }
    .bio1 {
        height: 100%;
    }
}
.AllModules {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}
.module {
    background-color: #f1f1f1;
    padding: 1%;
    margin: 0.5%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    width: calc(30% - 1%);
    height: 450px;
    display: flex;
    flex-direction: column;
}

.module > *:nth-child(1) {
    height: 50px;
    overflow: hidden;
}

.module > *:nth-child(2) {
    height: 150px;
    overflow: scroll;
    padding-bottom: 20px;
}

.module > *:nth-child(3) {
    height: 200px;
    overflow: scroll;
    margin-bottom: 20px;
}
.module:hover {
    box-shadow: 0 0 20px #ccc;
    background-color: #ddd;
}

.objectives a {
    color: #000;
    text-decoration: none;
    border-left: #000 solid 2px;
    padding-left: 10px;
    font-weight: lighter;
}

.objectives a:hover {
    border-left: #21A179 solid 2px;
    color: #21A179;
}

.delete2 {
    background-color: #DB4F2C;
    margin: auto;
}